<!DOCTYPE html>
<html lang="en">
    
{{>header}}
<body>
   {{>nav}}

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                
                <div class="main_content">
                    <form class="temp_form">
                        <input type="text" id="cityName" placeholder="Enter Your City Name" autocomplete="off">
                        <input type="submit" value="Search" id="submitBtn">
                    </form>
                </div>

                <div class="tempinfo">
                    <div class="top_layer">
                        <p id="day">Sunday</p>
                        <p id="today_data">2 Jan</p>

                    </div>
                    <div class="main_layer">
                        <p id="city_name">OUTPUT</p>
                        <div class="middle_layer data_hide">
                            <p id="temp"><span>0</span><sup>o</sup>C</p>
                            {{!-- <p class="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p> --}}
                            <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>

                        </div>

                    </div>
            
                </div>

            </div>
        </div>
    </div>
    
    <footer>
        <p>Created By SHUBHAM MUSALE</p>
    </footer>

    <script src="js/main.js"></script>

</body>
<script>
    
    const day = document.getElementById('day');
    const today_data = document.getElementById('today_data');

    const getCurrentDay = () =>{
            var weekday = new Array(7);
            weekday[0]="Sunday";
            weekday[1]="Monday";
            weekday[2]="Tuesday";
            weekday[3]="Wednesday";
            weekday[4]="Thursday";
            weekday[5]="Friday";
            weekday[6]="Saturday";

            let currentTime = new Date();
            let r1 = (weekday[currentTime.getDay()]);
            day.innerText = r1;
        };
        getCurrentDay();

        const getCurrentTime = () =>{
                var months = new Array(12);
                months[0]="January";
                months[1]="February";
                months[2]="March";
                months[3]="April";
                months[4]="May";
                months[5]="June";
                months[6]="July";
                months[7]="August";
                months[8]="September";
                months[9]="October";
                months[10]="November";
                months[11]="December";

                var now = new Date();
                var month = months[now.getMonth()];
                var day = now.getDate();
                var year = now.getFullYear();
                var hours = now.getHours();
                var mins = now.getMinutes();

                let period = "AM";

                if(hours>=12)
                {
                    period = "PM";
                    if(hours>12)
                    {
                        hours -= 12;
                    }
                }
                if(mins<10)
                {
                    mins = "0"+mins;
                }

                // let r2 = (day+" | "+month+" | "+year);
                // let r3 = (hours+":"+mins+ " "+period);
                return ` ${month} ${day} ${year} | ${hours}:${mins} ${period}`;
            };

            today_data.innerHTML = getCurrentTime();
</script>
</html>